<div ms-controller="commodityAnalysisCtrl" class="page-promotion-Analysis">
    <div class="box">
        <div class="box-hd">
            <h3 class="title"><i class="chart-icon ico-data"></i>我的实时数据(每小时更新)</h3>
        </div>
        <div class="box-bd">
            <div class="head clearfix">
                <div class="fl">单品实时查询<small>数据收集时间:<span>{{createData.compassTime.last_shop_hour_end}}</span></small></div>
                <div class="form-search-box pull-right mr15">
                    <input id="goodInput" class="form-control" type="text" placeholder="输入商品SKU" autocomplete="off">
                    <input id="siteChoice" class="form-control png storeCheck input-readonly-white" type="text" placeholder="所有门店" readonly autocomplete="off"/>
                    <div class="box-btn box-btn-blue pull-right" ms-click="searchSiteDetailEvt">
                        查询
                    </div>
                    <div class="pa rtl-menu-box" style="right: 107px;">
                        <h3 class="title">选择全部门店</h3>
                        <div class="all-site-box">
                            <label>
                                <input id="allSite" type="radio" ms-click="setSiteAll"> 全部门店
                            </label>
                        </div>
                        <h3 class="title">按区域搜索</h3>
                        <div class="search-main-box">
                            <input id="siteInputBox" class="form-control mb10" type="text" ms-on-keyup="autoEvt" autocomplete="off"/>
                            <div class="search-list" ms-visible="autoCompleteArray.length>0">
                                <ul class="list-unstyled">
                                    <li ms-click="setSiteOne" ms-repeat="autoCompleteArray" ms-attr-value="el.code">{{el.name}}</li>
                                </ul>
                            </div>
                            <div class="search-area">
                                <span>支持华北地区门店（北京、天津、河北）</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customer-box-title mb20" ms-if="createData.myActualGood!=''" style="padding-left: 16px;">商品名称： {{createData.myActualGood}}</div>
            <div class="content container-fluid">
                <div class="row items">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="item">
                         <p class="tc nub" ms-if="goodTopNum.price!='0' && goodTopNum.price!='0.00'">{{goodTopNum.price}}<span>元</span></p>
                         <p class="tc nub" ms-if="goodTopNum.price=='0' || goodTopNum.price=='0.00'">暂无时段价格</p>
                         <p class="tc text">实时价格(平均价格)</p>
                         <div id="commodityStock1" class="map-box rtl-chart-zIndex"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="item">
                            <p class="tc nub">{{goodTopNum.sale}}<span>千元</span></p>
                            <p class="tc text">实时销售额(日累计)</p>
                            <div id="commodityStock2" class="map-box rtl-chart-zIndex"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="item">
                            <p class="tc nub">{{goodTopNum.num}}<span>件</span></p>
                            <p class="tc text">实时销售量(日累计)</p>
                            <div id="commodityStock3" class="map-box rtl-chart-zIndex"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="item">
                            <p class="tc nub">暂不支持</p>
                            <!--这个新增的class只是暂时的，以后有图了要去掉-->
                            <p class="tc text item-sale-box"></p>
                            <div id="commodityStock4" class="map-box rtl-chart-zIndex"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head clearfix">
                <div class="fl">今日TOP10商品排行榜<small>数据收集时间:<span>{{createData.compassTime.last_shop_hour_end}}</span></small></div>
            </div>
            <div class="box-table">
                <table>
                    <thead>
                    <tr>
                        <th>销售额排名</th>
                        <th><a class="sort desc topSort" month-sort="amt" ms-click="TopSortEvt">总销售额(千元)</a></th>
                        <th><a class="sort topSort" month-sort="num" ms-click="TopSortEvt">总销售量</a></th>
                        <th>商品名称</th>
                        <th>商品编号</th>
                        <th>商品品牌</th>
                        <th><a class="sort topSort" month-sort="rank" ms-click="TopSortEvt">排名变化</a></th>
                        <th><a class="sort topSort" month-sort="day" ms-click="TopSortEvt">榜单停留时间(小时)</a></th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-repeat="createData.merchTop">
                        <td>{{el.rank}}</td>
                        <td>{{el.saleamt}}</td>
                        <td>{{el.salenum}}</td>
                        <td class="good-name"><a class="tooltip-show rtl-tips-box" data-toggle="tooltip" data-placement="right" ms-attr-title="{{el.sku_name}}">{{el.sku_name}}</a></td>
                        <td class="good-sku">{{el.sku}}</td>
                        <td>{{el.brand}}</td>
                        <td><a ms-class="{{el.rank_change>0?'up':(el.rank_change<0?'down':'')}}">{{el.rank_change<0?Math.abs(el.rank_change):el.rank_change}}</a></td>
                        <td>{{el.list_hours}}</td>
                        <td class="options">
                            <span data-toggle="modal" data-target="#myModalC" ms-click="seeModalSite">门店信息</span>
                            <span data-toggle="modal" data-target="#myModalB" ms-click="seeModalLine">行情信息</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="height: 20px; background-color: #ebeff2;"></div>
    <div class="box" style="overflow: visible;">
        <div class="box-hd">
            <h3 class="title"><i class="png ico-data"></i>我的商品行情(每天更新)</h3>
        </div>
        <div class="box-bd">
            <div class="head clearfix" style="padding-bottom: 20px;">
                <div ms-if="createData.myTrendGood!=''" class="mysale-title-box">商品名称： {{createData.myTrendGood}}</div>
                <div class="fl">
                    商品销售走势<small>数据收集时间:<span>{{createData.compassTime.last_shop_hour_end}}</span></small>
                </div>
                <div class="form-search-box pull-right" style="width: 350px;z-index: 99;">
                    <select id="goodSelect" class="form-control" ms-click="disabledEvt">
                        <option ms-repeat="createData.emcList" ms-attr-value="el[0]">{{el[1]}}</option>
                    </select>
                    <span>或</span>
                    <input id="goodInput2" class="form-control form-search-disabled" type="text" placeholder="输入商品SKU" ms-click="disabledEvt" autocomplete="off">
                </div>
                <div class="clearfix"></div>
                <div class="pull-right mt20 mr15">
                    <div style="display:block;">
                        <div id="timepicker1" class="rtl-data" style="text-align: left; width:230px;"></div>
                        <div class="box-btn box-btn-blue pull-right" style="margin-left: 15px;padding: 10px 0" ms-click="trendSearch">查询</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="goodSaleChart" class="map-box rtl-chart-zIndex"></div>
            </div>
            <div class="box-bd">
                <div class="head clearfix">
                    <div id="hotGoodRank" class="fl c-red">热销商品排行<small>数据收集时间:<span>{{createData.compassTime.last_shop_hour_end}}</span></small></div>
                    <div class="form-search-box pull-right mr15" style="width: 495px;">
                        <select id="hotSelect" class="form-control" style="left: 0;">
                            <option value="amt">销售额</option>
                            <option value="num">销售量</option>
                        </select>
                        <div id="timepicker2" class="rtl-data" style="left:170px;"></div>
                        <div class="box-btn box-btn-blue" ms-click="hotGoodSearch">
                            查询
                        </div>
                    </div>
                </div>
                <div class="box-table">
                    <table>
                        <thead>
                        <tr>
                            <th>销售额排名</th>
                            <th><a class="sort desc hotSort" month-sort="amt" ms-click="hotSortEvt">总销售额(千元)</a></th>
                            <th><a class="sort hotSort" month-sort="num" ms-click="hotSortEvt">总销售量</a></th>
                            <th>商品名称</th>
                            <th>商品编号</th>
                            <th>商品品牌</th>
                            <th><a class="sort hotSort" month-sort="rank" ms-click="hotSortEvt">排名变化</a></th>
                            <th><a class="sort hotSort" month-sort="day" ms-click="hotSortEvt">榜单停留时间(天)</a></th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-repeat="createData.merchHot">
                            <td>{{el.rank}}</td>
                            <td>{{el.saleamt}}</td>
                            <td>{{el.salenum}}</td>
                            <td class="good-name"><a class="tooltip-show" data-toggle="tooltip" data-placement="right" ms-attr-title="{{el.sku_name}}">{{el.sku_name}}</a>
                            </td>
                            <td class="good-sku">{{el.sku}}</td>
                            <td>{{el.brand}}</td>
                            <td><a ms-class="{{el.rank_change>0?'up':(el.rank_change<0?'down':'')}}">{{el.rank_change<0?Math.abs(el.rank_change):el.rank_change}}</a></td>
                            <td>{{el.list_days}}</td>
                            <td class="options">
                                <span data-toggle="modal" data-target="#myModalA" ms-click="seeModalStock">实时信息</span>
                                <span data-toggle="modal" data-target="#myModalB" ms-click="seeModalLine">行情信息</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px; background-color: #ebeff2;"></div>
    <div class="box" style="overflow: visible;">
        <div class="box-hd">
            <h3 id="abnormalRank" class="title"><i class="exc-icon ico-abnormal"></i>异常商品列表</h3>
        </div>
        <div class="box-bd">
            <div class="head clearfix">
                <div class="fl">异常商品分布</div>
            </div>
            <div class="content row trend">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>(所有异常商品占所有商品种类的{{abnormalPercent}}%)</p>
                    <div id="goodTrendChart" class="map-box rtl-chart-zIndex"></div>
                    <div class="text">
                        <p><i class="png ico-remind"></i>点击下列某项异常可以在右侧查看详情</p>
                        <ul>
                            <li class="active" ms-click="abnormalSearch"><i class="bg1"></i>滞销异常<span>{{abnormalZPercent}}%</span></li>
                            <li ms-click="abnormalSearch"><i class="bg2"></i>畅缺异常<span>{{abnormalCPercent}}%</span></li>
                            <li ms-click="abnormalSearch"><i class="bg3"></i>高库存异常<span>{{abnormalGPercent}}%</span></li>
                            <li ms-click="abnormalSearch"><i class="bg4"></i>零库存正常状态商品<span>{{abnormalLPercent}}%</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pr">
                    <div class="title"><span id="abnormalName" class="c-red">滞销异常</span>商品列表<i></i></div>
                    <div class="box-table">
                        <table>
                            <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>商品编码</th>
                                <th><a class="sort abnormalSort" month-sort="stock" ms-click="abnormalSortEvt">库存</a></th>
                                <th>待收</th>
                                <th><a class="sort desc abnormalSort" month-sort="site" ms-click="abnormalSortEvt">门店信息</a></th>
                                <th>异常起始日期</th>
                                <th width="90">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ms-repeat="createData.abnormalMerch.data">
                                <td class="good-name"><a class="tooltip-show" data-toggle="tooltip" data-placement="right" ms-attr-title="{{el.merch_name}}">{{el.merch_name}}</a></td>
                                <td class="good-sku" ms-attr-value="el.merch_no">{{el.merch_no}}</td>
                                <td>{{el.stock}}</td>
                                <td>{{el.collect}}</td>
                                <td><span data-toggle="modal" data-target="#myModal" ms-click="seeSiteModal">共{{el.site_num}}家门店</span></td>
                                <td>{{el.exp_dt}}</td>
                                <td class="lh21">
                                    <span data-toggle="modal" data-target="#myModalA" ms-click="seeModalStock">实时信息</span>
                                    <span data-toggle="modal" data-target="#myModalB" ms-click="seeModalLine">行情信息</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tablePage1" class="rtl-paging mt20"></div>
                </div>
            </div>
            <div class="head clearfix">
                <div class="fl">
                    我的品牌排行<small>数据收集时间:<span>{{createData.compassTime.last_shop_hour_end}}</span></small>
                </div>
                <div class="fr">
                    <div class="form-inline row">
                        <div class="form-group">
                            <div id="timepicker3" class="rtl-data"></div>
                            <div class="box-btn box-btn-blue pull-right" style="margin-left: 15px;padding: 10px 0" ms-click="brandSearch">查询</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-table">
                <table>
                    <thead>
                    <tr>
                        <th>总销售额排名</th>
                        <th><a class="sort desc brandSort" month-sort="amt" ms-click="brandSort">总销售额(千元)</a></th>
                        <th><a class="sort brandSort" month-sort="num" ms-click="brandSort">总销售量</a></th>
                        <th>商品品牌</th>
                        <th><a class="sort brandSort" month-sort="amt_change" ms-click="brandSort">排名变化</a></th>
                        <th>榜单停留时间(天)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-repeat="createData.brandRank.data">
                        <td>{{el.rank_amt}}</td>
                        <td>{{el.saleamt}}</td>
                        <td>{{el.salenum}}</td>
                        <td>{{el.brand}}</td>
                        <td><a ms-class="{{el.rank_amt_change>0?'up':(el.rank_amt_change<0?'down':'')}}">{{el.rank_amt_change<0?Math.abs(el.rank_amt_change):el.rank_amt_change}}</a></td>
                        <td>{{el.list_days}}</td>
                    </tr>
                    </tbody>
                </table>
                <div id="tablePage2" class="rtl-paging mt20"></div>
            </div>
        </div>
    </div>
<!-- 模态框（Modal） -->
<div class="modal fade rtl-modal-fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">
                    门店详情
                </h4>
            </div>
            <div class="modal-body">
                <div class="box" style="padding-bottom: 0;">
                    <div class="box-table">
                        <table>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>门店名称</th>
                                <th><a class="sort desc abnormalModalSort" month-sort="stock" ms-click="abnormalModalSort">门店库存</a></th>
                                <th>库存额</th>
                                <th>门店类型</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ms-repeat="abnormalModalList.data">
                                <td>{{el.no}}</td>
                                <td>{{el.site_name}}</td>
                                <td>{{el.site_stock}}</td>
                                <td>{{el.stock_amt}}</td>
                                <td>{{el.site_type}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tablePage3" class="rtl-paging mt20"></div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade rtl-modal-fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    单品实时查询(每小时更新)<span>数据收集时间:{{createData.compassTime.last_shop_hour_end}}</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-charttitle">
                    <span>商品名称：{{topModalName}}</span>
                    <span>商品编码：{{topModalSku}}</span>
                </div>
                <div class="form-inline pull-right ">
                    <div class="box-btn box-btn-blue pull-right" style="margin-left: 15px;padding: 10px 0" ms-click="modalSearch">查询</div>
                    <div class="modal-search-box pull-right">
                        <input id="siteModalChoice" class="form-control pull-right png storeCheck input-readonly-white" type="text" placeholder="所有门店" style="width: 155px;" readonly autocomplete="off"/>
                        <div class="pa rtl-menu-box">
                            <h3 class="title">选择全部门店</h3>
                            <div class="all-site-box">
                                <label>
                                    <input id="allSite2" type="radio" ms-click="setModalSiteAll"> 全部门店
                                </label>
                            </div>
                            <h3 class="title">按区域搜索</h3>
                            <div class="search-main-box">
                                <input id="siteInputBox2" class="form-control mb10" type="text" autocomplete="off" ms-on-keyup="modalAutoEvt"/>
                                <div class="search-list" ms-visible="modalAutoCompleteArray.length>0">
                                    <ul class="list-unstyled">
                                        <li ms-click="setModalSiteOne" ms-repeat="modalAutoCompleteArray" ms-attr-value="el.code">{{el.name}}</li>
                                    </ul>
                                </div>
                                <div class="search-area">
                                    <span>支持华北地区门店（北京、天津、河北）</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="charts-box container-fluid">
                    <div class="row items">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="item">
                                <p class="nub" ms-if="topModalNum.price!='0' && topModalNum.price!='0.00'">{{topModalNum.price}}<span>元</span></p>
                                <p class="nub" ms-if="topModalNum.price=='0' || topModalNum.price=='0.00'">暂无时段价格</p>
                                <p class="text">实时价格(平均价格)</p>
                                <div id="modalStock1" class="map-box"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="item">
                                <p class="tc nub">{{topModalNum.sale}}<span>千元</span></p>
                                <p class="tc text">实时销售额(日累计)</p>
                                <div id="modalStock2" class="map-box"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="item">
                                <p class="tc nub">{{topModalNum.num}}<span>件</span></p>
                                <p class="tc text">实时销售量(日累计)</p>
                                <div id="modalStock3" class="map-box"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="item">
                                <p class="tc nub">暂不支持</p>
                                <!--这个新增的class只是暂时的，以后有图了要去掉-->
                                <p class="tc text item-sale-box"></p>
                                <div id="modalStock4" class="map-box"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade rtl-modal-fade" id="myModalB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabelB">
                    商品销售走势<span>{{createData.compassTime.last_shop_hour_end}}</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-charttitle">
                    <span>商品名称：{{topModalName}}</span>
                    <span>商品编码：{{topModalSku}}</span>
                </div>
                <div class="form-inline pull-right ">
                    <div id="timepicker4" class="rtl-data" style="display: inline-block;"></div>
                    <div class="box-btn box-btn-blue pull-right" style="margin-left: 15px;padding: 10px 0" ms-click="topModalLineSearch">查询</div>
                </div>
                <div id="modalLineChart" class="charts"></div>
            </div>
        </div>
    </div>
</div>
    <!-- 模态框（Modal） -->
    <div class="modal fade rtl-modal-fade" id="myModalC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">
                        今日TOP10商品门店销售信息<span id="modalGoodName">(商品名称)</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="box" style="padding-bottom: 0;">
                        <div class="box-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>今日销售额排名</th>
                                    <th>今日销售额(千元)</th>
                                    <th>今日销量</th>
                                    <th>门店名称</th>
                                    <th><a class="sort topModalTableSort" ms-click="topModalTableSort">排名变化</a></th>
                                    <th>在榜时间(小时)</th>
                                    <th>门店类型</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ms-repeat="topModalTable">
                                    <td>{{el.rank}}</td>
                                    <td>{{el.saleamt}}</td>
                                    <td>{{el.salenum}}</td>
                                    <td>{{el.site_name}}</td>
                                    <td><a ms-class="{{el.rank_change>0?'up':(el.rank_change<0?'down':'')}}">{{el.rank_change<0?Math.abs(el.rank_change):el.rank_change}}</a></td>
                                    <td>{{el.list_hours}}</td>
                                    <td>{{el.site_type}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>